<div>
    <h1>Tomorrow's Games</h1>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <table *ngIf="tomorrowGames.length > 0">
      <thead>
        <tr>
          <th>Time</th>
          <th>Sport Series</th>
          <th>Match</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of tomorrowGames">
          <td>{{ game.time }}</td>
          <td>{{ game.seriesname }}</td>
          <td>
            {{ game.matchDetails }}
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!tomorrowGames.length && !errorMessage">No games available tomorrow.</div>
  </div>
  